@import '../abstracts/variables';
@import '../abstracts/mixins';

.icon-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  align-content: center;
  justify-content: space-around;
  align-items: center;
  margin: 0;
  padding: 0;
  background-color: transparent;

  &:hover li>.hover-icon:not(:hover) {
    @include transform(scale(0.85));
  }

  li {
    background-color: transparent;
    list-style-type: none;
    padding: 0.4rem;

    .hover-icon {
      @include transition(all 200ms);
      background-color: transparent;

      &__label {
        font-family: inherit;
        text-transform: capitalize;
        color: $primaryFont;
        font-size: .7rem;
        font-weight: 400;
        @include transition(all 300ms);
        padding-top: 2px;
      }

      &:hover {
        @include transform(translateY(-2px) scale(1.1));
        background-color: transparent;

        .hover-icon__label {
          color: $darkGreen;
          font-weight: 700;
          margin: auto;
          @include transform(scale(1.3));
        }

        //&::after {
        //  @include transform(scale(1.1));
        //}
      }

      //&::after {
      //  @include transition(all 300ms);
      //  content: '';
      //  height: 95%;
      //  width: 95%;
      //  position: absolute;
      //  top: 3px;
      //  left: 2px;
      //  z-index: 10;
      //  border-width: 5px;
      //  border-style: solid;
      //  border-radius: 20px;
      //  border-color: $hoverDark;
      //  opacity: 0;
      //}
    }
  }
}