@import '../abstracts/variables';
@import '../abstracts/mixins';

.story {
  //padding: 1rem;
  width: 100%;
  @include box-shadow(.5 3rem 6rem $shadow--light);
  background-color: $secondaryFont;
  @include border-radius($BORDER_RADIUS);
  font-size: $defaultFont;
  overflow: hidden;

  &:hover &__portrait {
    &::after {
      opacity: 0.6;
    }

    &-label {
      opacity: 1;
    }
  }

  &__portrait {
    z-index: 10;
    width: 10rem;
    height: 10rem;
    background-color: #000000;
    @include border-radius(100%);
    background-attachment: local;
    background-size: cover;
    border: solid medium $primaryFont;
    @include clip-path(circle(50% at 50% 50%));
    @include shape-outside(circle(50% at 50% 50%));
    text-align: center;
    position: relative;
    outline-offset: .6rem;
    outline: 1rem solid $primaryFont;
    margin: 2rem auto;


    &::after {
      content: '';
      width: 102%;
      height: 102%;
      background-color: #000000;
      @include border-radius(100%);
      z-index: 15;
      opacity: 0;
      @include transition(all 300ms);
      display: inline-block;
      position: absolute;
      top: 50%;
      left: 50%;
      @include transform(translateY(-50%) translateX(-50%));
    }

    &-label {
      @include transition(all 300ms);
      position: absolute;
      top: 0;
      left: 50%;
      @include transform(translateX(-50%) translateY(100%));
      opacity: 0;
      z-index: 20;
      width: 100%;
      color: #ffffff;

      &--name {
        width: 40%;
      }

      &--position {
        width: 70%;
      }
    }
  }

  &__text {
    .heading-tertiary {
      text-align: center;

      &::before {
        font-family: "Courier 10 Pitch", sans-serif;
        content: open-quote;
        font-size: 2rem;
      }

      &::after {
        font-family: "Courier 10 Pitch", sans-serif;
        content: close-quote;
        font-size: 2rem;
      }
    }

    .block-quote {
      padding: 0;
      margin: 1.5rem;
      text-align: left;

      &::before {
        font-family: "Courier 10 Pitch", sans-serif;
        content: open-quote;
        font-size: 2rem;
      }

      &::after {
        font-family: "Courier 10 Pitch", sans-serif;
        content: close-quote;
        font-size: 2rem;
      }
    }
  }
}