@import '../abstracts/variables';
@import '../abstracts/mixins';

.story {
  width: 60%;
  margin: 2rem auto;
  @include box-shadow(.3rem 1.5rem 2rem $shadow--light);
  background-color: $secondaryFont;
  @include border-radius($BORDER_RADIUS);
  padding: 3rem;
  font-size: $defaultFont;
  @include transform(skewX(-12deg));

  &__content {
    @include transform(skewX(12deg));
  }

  &__shape {
    width: 10rem;
    height: 10rem;
    float: left;
    background-color: transparent;
    @include shape-outside(circle(35% at 50% 50%));
    @include clip-path(circle(50% at 50% 50%));
    @include transform(translateX(-2rem));
    position: relative;
  }

  &__caption {
    color: $secondaryFont;
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translate(-50%, 0));
    text-align: center;
    font-size: 1.1rem;
    font-weight: 500;
    width: 100%;
    opacity: 0;
    @include transition(all 500ms);
    @include hide-backface;
  }

  &__portrait {
    border-radius: 100%;
    height: 100%;
    @include transform(scale(1.2));
    @include transition(all 500ms);
    @include hide-backface;
  }

  &__text {
    &--highlight {
      font-weight: 600;
      font-size: 1.7rem;
      font-style: italic;
    }

    &--testimonial {
      line-height: 1.7rem;

      &::before {
        font-family: "Courier 10 Pitch", sans-serif;
        content: open-quote;
        font-size: 2rem;
        font-weight: 600;
        line-height: 1rem;
      }

      &::after {
        font-family: "Courier 10 Pitch", sans-serif;
        content: close-quote;
        font-size: 2rem;
        font-weight: 600;
        line-height: 1rem;
      }
    }
  }

  &:hover &__caption {
    opacity: 1;
    @include transform(translate(-50%, -50%));
  }

  &:hover &__portrait {
    filter: blur(3px) brightness(60%);
    @include transform(scale(1));
  }
}

/* .story {
  padding: 2.5rem;
  @include box-shadow(.5 3rem 6rem $shadow);
  background-color: $secondaryFont;
  @include border-radius($BORDER_RADIUS);
  overflow: hidden;

  &:hover &__caption {
      @include transform(translate(-50%, -50%));
      opacity: 1;
  }

  &:hover &__portrait {
    background-size: 100%;
    filter: blur(1px) brightness(80%);
  }

  &__shape {
    content: '';
    display: flex;
    padding: 0;
    margin: 0;
    width: 10rem;
    height: 10rem;
  }

  &__portrait {
    margin: 0;
    padding: 0;
    z-index: 10;
    width: 100%;
    border-radius: 100%;
    @include clip-path(circle(50% at 50% 50%));
    @include shape-outside(circle(50% at 50% 50%));
    text-align: center;
    position: relative;
    @include hide-backface;
    background-size: 110%;
    background-position: center;
    @include transition(all 500ms);
  }

  &__caption {
    @include transition(all 500ms);
    position: absolute;
    top: 50%;
    left: 50%;
    @include transform(translateX(-50%));
    z-index: 20;
    width: 100%;
    color: #000;
    opacity: 0;
    @include hide-backface;
    text-align: center;

    &--name {
      @include hide-backface;
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
      width: 40%;
      font-weight: 500;
      font-size: 1.1rem;
    }

    &--position {
      @include hide-backface;
      -webkit-font-smoothing: antialiased;
      text-rendering: optimizeLegibility;
      width: 70%;
      font-weight: 400;
      font-size: 1.1rem;
    }
  }

  &__heading {
    margin-bottom: 1.5rem;
    font-style: italic;
    font-weight: 300;
    font-size: 2rem;
  }

  &__text {
    margin-top: -1rem;
    margin-left: 1rem;
  }

  &__quote {
    line-height: 1.5rem;
    font-size: $defaultFont;

    &::before {
      font-family: "Courier 10 Pitch", sans-serif;
      content: open-quote;
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.2rem;
    }

    &::after {
      font-family: "Courier 10 Pitch", sans-serif;
      content: close-quote;
      font-size: 2rem;
      font-weight: 600;
      line-height: 1.2rem;
    }
  }
} */
