// Base
@import '../sass/base/base';
@import '../sass/base/animations';
@import '../sass/base/typography';
// Abstracts
@import '../sass/abstracts/variables';
@import '../sass/abstracts/mixins';
@import '../sass/abstracts/functions';
// Components
@import '../sass/components/button';
@import '../sass/components/panel';
@import '../sass/components/feature-box';
@import '../sass/components/icon-list';
@import '../sass/components/card';
@import '../sass/components/story';
// Utilities
@import '../sass/base/utilities';
// Layout
@import '../sass/layout/root';
@import '../sass/layout/composition';

.header {
  @include hide-backface;
  height: 95vh;
  background-image: $themeOpacityGradient, $apple-desk-1280;
  background-attachment: local;
  @include background-size(cover);
  background-position: center;
  @include clip-path(polygon(0 0, 100% 0, 100% 75vh, 0 100%));
  position: relative;

  &__logo {
    margin: 3rem;
    height: 6rem;
  }

  &__text-container {
    @include hide-backface;
    @include transform(translateY(-50%) translateX(-50%));
    text-align: center;
    position: absolute;
    top: 45%;
    left: 50%;
  }
}

.section-about {
  @include section;
  padding: 9rem 0 15rem 0;
}

.section-skills {
  background-image: $themeOpacityGradient, $keyboards-608;
  background-attachment: local;
  background-size: cover;
  background-position: center;
  padding: 1.2rem;
  @include box-sizing(initial);
  @include transform(skewY(-7deg));
  outline: 0;

  & > * {
    @include transform(skewY(7deg));
  }

  .skillbox-wrapper {
    @include box-sizing(inherit);
    margin-top: 1.5rem;
    margin-bottom: 6rem;
  }
}

.section-projects {
  @include section;
  padding: 15rem 0;
}

.section-stories {
  @include section;
  padding: 15rem 0;

}


.btn--grow-in {
  will-change: transform;
  @include animate(animation__grow-in 600ms ease-out 900ms backwards 1);
}