@import '../abstracts/mixins';
@import '../abstracts/variables';

.composition {
  position: relative;
  margin-bottom: 6rem;

  &__photo {
    @include box-shadow(0.2rem .9rem 2.4rem $shadow--dark);
    width: 40%;
    min-width: 20%;
    z-index: 10;
    @include transition(all 200ms);
    outline-offset: .6rem;

    &--p1 {
      position: absolute;
      top: -0.9rem;
      left: 10%;
    }
    &--p2 {
      position: absolute;
      top: 2.1rem;
      left: 36%;
    }
    &--p3 {
      position: absolute;
      top: 7.2rem;
      left: 20%;
    }

    &:hover {
      @include transform(scale(1.05) translateY(-0.3rem));
      @include box-shadow(0.4rem 1.8rem 1.8rem $shadow--dark);
      z-index: 20;
      outline: 1rem solid $primaryColor;
    }
  }

  &:hover &__photo:not(:hover) {
    @include transform(scale(0.95));
  }
}
