@import '../abstracts/mixins';
@import '../abstracts/variables';

.navigation {
  counter-reset: link-counter;

  &__checkbox {
    display: none;
    visibility: hidden;

    &:not(:checked) + .navigation__button:hover > .navigation__icon span {
      perspective: 1000rem;

      &:first-child {
        transform: translateY(-.1rem);
      }

      &:last-child {
        transform: translateY(.1rem);
      }
    }

    &:checked ~ .navigation__bg {
      transform: scale(70);
    }

    &:checked ~ .navigation__nav {
      visibility: visible;

      & > ul {
        opacity: 1;
        @include transform(translate(-50%, -50%));
      }
    }

    &:checked + .navigation__button > .navigation__icon {
      @include transform(translate(-.5rem, -50%));
    }

    &:checked + .navigation__button > .navigation__icon span:first-child {
      transform: rotate(45deg) translate(-.125rem, 0);
    }

    &:checked + .navigation__button > .navigation__icon > span:nth-last-child(2) {
      opacity: 0;
      transform: rotate(0deg) scale(0, 0);
    }

    &:checked + .navigation__button > .navigation__icon > span:last-child {
      transform: rotate(-45deg) translate(-.125rem, 0);
    }
  }

  &__button {
    background-color: #ffffff;
    height: 5.6rem;
    width: 5.6rem;
    position: fixed;
    top: 4.7rem;
    right: 4.7rem;
    @include border-radius(50%);
    z-index: 2000;
    cursor: pointer;
  }

  &__bg {
    @include border-radius(50%);
    @include transition(all 700ms cubic-bezier(0.77, 0.2, 0.05, 1.0));
    height: 5rem;
    width: 5rem;
    position: fixed;
    top: 5rem;
    right: 5rem;
    background-image: radial-gradient($lightGreen, $mediumGreen, $darkGreen);
    z-index: 1000;
  }

  &__nav {
    height: 100vh;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1500;
    visibility: hidden;
  }

  &__icon {
    @include absolute-center;
    @include transition(transform 500ms cubic-bezier(0.77, 0.2, 0.05, 1.0));
    @include hide-backface;

    & span {
      @include hide-backface;
      display: block;
      position: relative;
      width: 2.06rem;
      height: .25rem;
      margin-bottom: .3rem;
      background: $primaryFont;
      @include border-radius($BORDER_RADIUS);
      z-index: 1550;
      transform-origin: .25rem 0;
      @include transition((transform 500ms cubic-bezier(0.77, 0.2, 0.05, 1.0),
      background 500ms cubic-bezier(0.77, 0.2, 0.05, 1.0),
      opacity 550ms ease,
      ));
    }

    & span:first-child {
      @include transform-origin(0% 0%);
    }

    & span:last-child {
      @include transform-origin(0% 100%);
    }

    & span:nth-child(2) {
      @include transform-origin(50% 50%);
    }
  }

  &__list {
    position: absolute;
    top: 50%;
    left: 50%;
    @include transition((
            all 500ms 100ms cubic-bezier(0.77, 0.2, 0.05, 1.0),
    ));
    @include transform(translate(50%, -100%));
    list-style: none;
    text-align: center;
    opacity: 0;
  }

  &__item {
    margin: 1rem;
  }

  &__link {
    &:link,
    &:visited {
      @include hide-backface;
      display: inline-block;
      padding: .8rem 1.5rem;
      font-size: 2.5rem;
      font-weight: 300;
      color: $secondaryFont;
      text-transform: uppercase;
      background-image: linear-gradient(120deg, transparent 0%, transparent 49.9%, $secondaryFont 50%);
      background-size: 235%;
      @include transition(all 400ms);
    }

    &::before {
      counter-increment: link-counter;
      content: '0' counter(link-counter);
      display: inline-block;
      margin-right: 1.5rem;
    }

    &:hover,
    &:active,
    &:focus {
      @include transform(translateX(.7rem));
      background-position: 100%;
      color: $primaryFont;
    }
  }
}