.root {
  // height: 100%;
  // align-items: center;
  // align-content: center;
  // justify-content: center;
  // -webkit-justify-content: center;
  display: flex;
  flex-wrap: nowrap;
  background-color: #ffffff;
}