@import '../abstracts/variables';
@import '../base/utilities';

*,
*::after,
*::before {
  // Clear any browser-specific formatting
  margin: 0;
  padding: 0;
  text-decoration: none;
  box-sizing: inherit;
}

html {
  // Use root font size to set page scale
  font-size: 62.5%;
}

body {
  padding: 3rem;
  box-sizing: border-box;
  // overflow-x: hidden;
  // -ms-overflow-x: hidden;
}

.center {
  @include center;
}

.border {
  border: red solid 2px;
}

.canvas {
  position: absolute;
  content: '';
  top: 0;
  left: 0;
}