@import '../abstracts/variables';
@import '../abstracts/mixins';
@import "../base/animations";

body {
  //  Set page font
  font-family: 'Lato', sans-serif;
  font-weight: 400;
  line-height: 1.7;
  color: $primaryFont;
}

.heading-primary {
  text-transform: uppercase;
  font-family: inherit;

  &__title {
    @include style-header-text($secondaryFont);
    @include animate(animation__slide-in-left--bounce 1s ease-out 800ms forwards 1);
    @include transform(translateX(6rem));
    font-size: 4.8rem;
    font-weight: 600;
    margin: 0;
    letter-spacing: 1.8rem;
    text-shadow: 0.2rem 0.3rem 0.5rem $shadow;
  }

  &__subtitle {
    @include style-header-text($secondaryFont);
    @include animate(animation__slide-in-right--bounce 1s ease-out 800ms forwards 1);
    @include transform(translateX(-6rem));
    font-size: 5rem;
    font-weight: 300;
    margin: 0 0 2.5rem 0;
    letter-spacing: 0.4rem;
    text-shadow: 0.2rem 0.3rem 0.5rem $shadow;
  }

  &__btn {
    background-color: $secondaryFont;
    color: $primaryFont;
    align-self: center;
    font-size: 1rem;

    &::after {
      background-color: $secondaryFont;
    }
  }
}

.heading-secondary {
  display: inline-block;
  margin-bottom: 2.1rem;

  &__label {
    font-size: 2.4rem;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 0.2rem;
    @include transition(all 150ms);
    text-shadow: 0.2rem 0.3rem 0.3rem;
    text-align: center;

    &--gradient {
      background-image: $themeOpacityGradient;
      color: transparent;
      @include background-clip(text);
      font-family: inherit;

      &:hover {
        @include transform(translateY(-2px) scale(1.1));
        text-shadow: 0.2rem .5rem .7rem $shadow--light;
      }
    }

    &--white {
      text-shadow: 0.2rem 0.3rem 0.5rem $shadow--light;
      font-family: inherit;
      color: $secondaryFont;

      &:hover {
        @include grow-on-hover;
        text-shadow: 0.3rem .6rem .6rem $shadow--light;
      }
    }
  }


}

.heading-tertiary {
  font-size: 1rem;
  font-weight: 700;
  text-transform: uppercase;
  font-family: inherit;

  &--feature {
    padding: .6rem 0 1.2rem 0;
    display: block;
  }
}

.paragraph__container {
  margin: 0 1.2rem 0 1.2rem;
  padding-right: 1rem;
  font-family: inherit;
}

.paragraph {
  font-size: $defaultFont;
  font-weight: 400;
  text-align: left;

  &:not(:last-child) {
    margin-bottom: 1rem;
  }
}

