@import '../sass/abstracts/variables';
@import '../sass/abstracts/mixins';

.blog {
  position: relative;
  height: 100%;
  width: 100%;

  &__fab--ltr {
    position: fixed;
    left: 90%;
    bottom: 8%;
    z-index: 1000;

    @include respond(sm) {
      left: 85%;
      bottom: 10%;
    }
    @include respond(xs) {
      left: 80%;
      bottom: 12%;
    }
  }

  &__fab--rtl {
    position: fixed;
    right: 90%;
    bottom: 8%;
    z-index: 1000;
    @include transform(rotate(180deg));

    @include respond(sm) {
      right: 85%;
      bottom: 10%;
    }
    @include respond(xs) {
      right: 80%;
      bottom: 12%;
    }
  }
}

.archive-drawer {
  position: relative;
  overflow: hidden;
  -ms-overflow-x: hidden;

  &__fab--ltr {
    position: fixed;
    bottom: 8%;
    left: 10%;
    z-index: 1000;

    @include respond(sm) {
      bottom: 10%;
    }
    @include respond(xs) {
      bottom: 12%;
    }
  }

  &__fab--rtl {
    position: fixed;
    bottom: 8%;
    right: 10%;
    z-index: 1000;
    @include transform(rotate(180deg));

    @include respond(sm) {
      bottom: 10%;
    }
    @include respond(xs) {
      bottom: 12%;
    }
  }
}

.panel {
  @include animate(landing-page 1s forwards 1);
  animation-delay: 0.6s;
  transform: translateY(20px);
  opacity: 0;
  flex: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.paper {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 24px;
}

.lock-actions {
  justify-content: center;
}

.landing-page-content {
  text-align: center;
}

.landing-page-logo {
  height: 15rem;
}

@keyframes landing-page {
  0% {
    @include transform(translateY(20px));
    opacity: 0;
  }
  100% {
    @include transform(translateY(0));
    opacity: 1;
  }
}

.expand-more-icon {
  @include transition(all 500ms ease);
}

.rotate {
  @include transform(rotate(180deg));
}

@keyframes expand-more {
  0% {
    @include transform(rotate(0));
  }
  100% {
    @include transform(rotate(180deg));
  }
}

@-moz-keyframes expand-more {
  0% {
    @include transform(rotate(0));
  }
  100% {
    @include transform(rotate(180deg));
  }
}

@-ms-keyframes expand-more {
  0% {
    @include transform(rotate(0));
  }
  100% {
    @include transform(rotate(180deg));
  }
}

@-o-keyframes expand-more {
  0% {
    @include transform(rotate(0));
  }
  100% {
    @include transform(rotate(180deg));
  }
}

@-webkit-keyframes expand-more {
  0% {
    @include transform(rotate(0));
  }
  100% {
    @include transform(rotate(180deg));
  }
}

.portal-todo {
  padding: 0;
  margin-top: 24px;
}

.portal-text-centered {
  text-align: center;
}

.portal-todo__header {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  position: relative;
  overflow: hidden;
  padding: 24px;

  h2 {
    color: #ffffff;
    margin-top: 160px;
    margin-bottom: 0;
    position: relative;
    z-index: 10;
    @include animate(portal-todo__header-demo .3s forwards 1);
    animation-delay: .9s;
    opacity: 0;
    @include transform(translateY(20px));
  }
}

.portal-todo__header-demo-sun {
  position: absolute;
  width: 200px;
  height: 200px;
  right: 0;
  top: 0;
  animation: portal-todo__header-demo-sun 1s 1;

  &:after {
    content: '';
    background: #ffb058;
    width: 100%;
    height: 100%;
    @include border-radius(50%);
    @include box-shadow((0 0 0 40px rgba(#ffb058, .4), 0 0 0 80px rgba(#ffb058, .2)));
    animation: portal-todo__header-demo-sun-shine 4s infinite ease-in-out;
    @include transform(translateY(5px));
    position: absolute;
    top: 0;
    left: 0;
  }
}

.portal-todo__header-demo-mountain {
  background: rgba(#ffb057, .3);
  width: 200px;
  height: 200px;
  position: absolute;
  @include border-radius(3px);
  left: 0;
  @include transform(translateY(200px) rotate(45deg));
  top: 150px;
  animation: portal-todo__header-demo-mountains 1s forwards 1;
  animation-delay: .3s;
  opacity: 1;

  &:nth-child(3) {
    left: 20%;
    top: 180px;
    animation-delay: 0.6s;
    background: rgba(#ffb057, 1);
  }
}

@keyframes portal-todo__header-demo-sun-shine {
  0%,
  100% {
    box-shadow: 0 0 0 40px rgba(#ffb058, .4), 0 0 0 80px rgba(#ffb058, .2);
    transform: translateY(5px);
  }
  50% {
    box-shadow: 0 0 0 60px rgba(#ffb058, .3), 0 0 0 100px rgba(#ffb058, .1);
    transform: translateY(0);
  }
}

@keyframes portal-todo__header-demo-mountains {
  0% {
    transform: translateY(200px) rotate(45deg);
    opacity: 0;
  }
  100% {
    transform: translateY(0) rotate(45deg);
    opacity: 1;
  }
}

@keyframes portal-todo__header-demo-sun {
  0% {
    top: 200px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes portal-todo__header-demo {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
