

.panel {
  animation: landing-page 1s forwards 1;
  animation-delay: 0.6s;
  transform: translateY(20px);
  opacity: 0;
  flex: auto;
  display: flex;
  flex-direction: column;
  align-content: center;
}

.drawerButton {

}

.paper {
  height: 100%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding: 24px;
}

.lock-actions {
  justify-content: center;
}

.landing-page-content {
  text-align: center;
}

.landing-page-logo {
  height: 15rem;
}

@keyframes landing-page {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
  }
}

.expand-more-icon {
  -moz-transition: all 500ms ease;
  -webkit-transition: all 500ms ease;
  -o-transition: all 500ms ease;
  transition: all 500ms ease;
}

.rotate {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

@keyframes expand-more {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@-moz-keyframes expand-more {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@-ms-keyframes expand-more {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@-o-keyframes expand-more {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

@-webkit-keyframes expand-more {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(180deg);
  }
}

.portal-todo {
  padding: 0;
  margin-top: 24px;
}

.portal-text-centered {
  text-align: center;
}

.portal-todo__header {
  border-top-left-radius: 2px;
  border-top-right-radius: 2px;
  position: relative;
  overflow: hidden;
  padding: 24px;
  h2 {
    color: #fff;
    margin-top: 160px;
    margin-bottom: 0;
    position: relative;
    z-index: 10;
    animation: portal-todo__header-demo .3s forwards 1;
    animation-delay: .9s;
    opacity: 0;
    transform: translateY(20px);
  }
}

.portal-todo__header-demo-sun {
  position: absolute;
  width: 200px;
  height: 200px;
  right: 0;
  top: 0;
  animation: portal-todo__header-demo-sun 1s 1;
  &:after {
    content: '';
    background: #ffb058;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 0px 40px rgba(#ffb058, .4), 0px 0px 0px 80px rgba(#ffb058, .2);
    animation: portal-todo__header-demo-sun-shine 4s infinite ease-in-out;
    transform: translateY(5px);
    position: absolute;
    top: 0;
    left: 0;
  }
}

.portal-todo__header-demo-mountain {
  background: rgba(#ffb057, .3);
  width: 200px;
  height: 200px;
  position: absolute;
  border-radius: 2px;
  left: 0;
  transform: translateY(200px) rotate(45deg);
  top: 150px;
  animation: portal-todo__header-demo-mountains 1s forwards 1;
  animation-delay: .3s;
  opacity:1;
  &:nth-child(3) {
    left: 20%;
    top: 180px;
    animation-delay: 0.6s;
    background: rgba(#ffb057, 1);
  }
}

@keyframes portal-todo__header-demo-sun-shine {
  0%, 100% {
    box-shadow: 0px 0px 0px 40px rgba(#ffb058, .4), 0px 0px 0px 80px rgba(#ffb058, .2);
    transform: translateY(5px);
  }
  50% {
    box-shadow: 0px 0px 0px 60px rgba(#ffb058, .3), 0px 0px 0px 100px rgba(#ffb058, .1);
    transform: translateY(0px);
  }
}

@keyframes portal-todo__header-demo-mountains {
  0% {
    transform: translateY(200px) rotate(45deg);
    opacity: 0;
  }
  100% {
    transform: translateY(0) rotate(45deg);
    opacity: 1;
  }
}

@keyframes portal-todo__header-demo-sun {
  0% {
    top: 200px;
    opacity: 0;
  }
  100% {
    top: 0;
    opacity: 1;
  }
}

@keyframes portal-todo__header-demo {
  0% {
    transform: translateY(20px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
