@import '../../../sass/abstracts/variables';
@import '../../../sass/abstracts/mixins';

html {
  @include box-sizing(inherit);
  font-size: 1rem;

  @include respond(xxl) {
    font-size: 115% !important;
  }
  @include respond(xl) {
    font-size: 110% !important;
  }
  @include respond(lg) {
    font-size: 100% !important;
  }
  @include respond(md) {
    font-size: 80% !important;
  }
  @include respond(sm) {
    font-size: 70% !important;
  }
  @include respond(xs) {
    font-size: 60% !important;
  }
}

.blog {
  width: 100%;

  &__divider {
    width: 95%;
    height: 2px;
    color: $secondaryFont;
    border: solid thin $secondaryFont;
    @include border-radius($BORDER_RADIUS);
    margin-top: .5rem;
    background-color: $secondaryFont;
  }

  & * {
    overflow-wrap: break-word;
    word-break: break-word;
    line-break: auto;
    max-width: calc(100vw);
  }

  &__header {
    margin: 0 .8rem;
    margin-top: 1.5rem;
  }

  &__content {
    margin: 0 .8rem;
    width: 100%;
  }

  &__footer {
    margin: 1.7rem .8rem;
  }

  &__paper {
    margin: 3rem 0;

    @include respond(md) {
      padding: 1.3rem;
    }
    @include respond(sm) {
      padding: .7rem;
      margin: 0 0 1.6rem 0;
    }
    @include respond(xs) {
      padding: .2rem;
      margin: 0 0 1.6rem 0;
    }

    max-width: calc(100vw);

  }

  &__title {
    font-size: 2.5rem;
  }

  &__posted {
    font-size: .7rem;
  }

  &__author {
    font-size: .9rem;
  }

  &__body {
    font-size: 1rem;
    margin: 0 auto;
    //max-width: 90%;
    padding-right: 2rem;
  }
}