// Mixins
@mixin style-header-text($color) {
  padding: 0;
  opacity: 0;
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  color: $color;
}

@mixin animate($animation) {
  -webkit-animation: $animation;
  -o-animation: $animation;
  animation: $animation;
}

@mixin transition($transition) {
  -webkit-transition: $transition;
  -moz-transition: $transition;
  -ms-transition: $transition;
  -o-transition: $transition;
  transition: $transition;
}

@mixin transform($transformation) {
  -webkit-transform: $transformation;
  -moz-transform: $transformation;
  -ms-transform: $transformation;
  -o-transform: $transformation;
  transform: $transformation;
}

@mixin hide-backface {
  -webkit-backface-visibility: hidden;
  -moz-backface-visibility: hidden;
  -ms-backface-visibility: hidden;
  backface-visibility: hidden;
}

@mixin border-radius($radius) {
  -webkit-border-radius: $radius;
  -moz-border-radius: $radius;
  border-radius: $radius;
}

@mixin box-shadow($box-shadow) {
  -webkit-box-shadow: $box-shadow;
  -moz-box-shadow: $box-shadow;
  box-shadow: $box-shadow;
}

@mixin background-clip($clipType) {
  background-clip: $clipType;
  -webkit-background-clip: $clipType;
}

@mixin respond-to($media) {
  @if $media == handhelds {
    @media only screen and (max-width: $break-small) { @content; }
  }
  @else if $media == medium-screens {
    @media only screen and (min-width: $break-small + 1) and (max-width: $break-large - 1) { @content; }
  }
  @else if $media == wide-screens {
    @media only screen and (min-width: $break-large) { @content; }
  }
}

@mixin skew-on-hover {
  @include transform(skewY(0.01turn) skewX(-0.02turn) scale(1.1));
}

@mixin section {
  margin: 1rem;
}

@mixin relative-icon($top, $left) {
  content: '';
  position: absolute;
  top: $top;
  left: $left;
  margin: 3px;
  background-color: $lightGreenGradient;
}